footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;
    display: inline-block;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

footer a:hover {
    color: #a855f7; /* Roxo suave */
    transform: scale(1.05);
}
