


.holographic-container {
 display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  }
  
  .holographic-card {
	width: 500px;
	height: 200px;
	background-color: #262626;
	padding: 20px 40px;
	position: relative;
	overflow: hidden;	
	transition: all 0.5s ease;
	border-radius: 5%;

	h2{
		font-size: 25px;
		color: rgb(255, 255, 255);
		margin-bottom: 10px;

		background:#262626; 
	}
	p{
		color: antiquewhite;
		margin-bottom: 10px;
		background:#262626;

	}
	ul {
		display: flex;
		position:relative;
		margin-bottom: 10px;
		left: 70%;
		top: 20%;
		transform: translate(-50%, -50%);
		background:#262626;
	  }
	  
	  ul li {
		list-style: none;
		background:#262626;
	  }
	  
	  ul li a {
		width: 50px;
		height: 50px;
		
		text-align: center;
		line-height: 60px;
		font-size: 35px;
		margin: 0 10px;
		display: block;
		border-radius: 60%;
		position: relative;
		overflow: hidden;
		
		z-index: 1;
	  }
	  
	  ul li a .icon {
		position: relative;
		
		transition: .5s;
		z-index: 3;
	  }
	  
	  ul li a:hover .icon {
		color:#0077b5;
		transform: rotateY(360deg);
	  }
	  
	  ul li a:before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: #f00;
		transition: .5s;
		z-index: 2;
	  }
	  
	  ul li a:hover:before {
		top: 0;
	  }
	  
	  ul li:nth-child(1) a:before{
		background: #3b5999;
	  }
	  
	  ul li:nth-child(2) a:before{
		background: #55acee;
	  }
	  
	  ul li:nth-child(3) a:before {
		background: #0077b5;
	  }
	  
	  ul li:nth-child(4) a:before {
		background: #dd4b39;
	  }
  }
  
  
  .holographic-card::before {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;	
	background: linear-gradient(
	  0deg, 
	  transparent, 
	  transparent 30%, 
	  rgba(116, 40, 115, 0.3)
	);
	transform: rotate(-45deg);
	transition: all 0.5s ease;
	opacity: 0;
  }
  
  .holographic-card:hover {
	transform: scale(1.05);
	box-shadow: 0 0 20px rgba(223, 67, 161, 0.5);
  }
  
  .holographic-card:hover::before {
	opacity: 1;
	transform: rotate(-45deg) translateY(100%);
  }
/*botoest*/
